@using Microsoft.AspNetCore.Http
@model List<MVC_Project.Models.Group>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Category"] = Model[0].GroupCategory;
    ViewData["ActivityName"] = Model[0].GroupName;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JO!N</title>
    <link rel="icon" href="~/IMG/小黃人.png" type="image/png" />


    <!-- Font Awesome套件引入 -->
    <script src="https://kit.fontawesome.com/2bfbd4ef35.js" crossorigin="anonymous"></script>


    <!-- 引入 Bootstrap 的 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

    <!-- css連結 -->
    <link rel="stylesheet" href="~/css/ActivityPage.css" />

    <!-- 引入 Bootstrap 的 JavaScript 和相依的 Popper.js 和 jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"
            integrity="sha256-S/HO+Ru8zrLDmcjzwxjl18BQYDCvFDD7mPrwJclX6U8=" crossorigin="anonymous"></script>

</head>

<body>
    <input type="hidden" id="currentUserId" value="@Context.Session.GetString("UserId")" />

    <p type="hidden" name="groupId" class="groupid" data-groupid="@Model[0].GroupID" />
    @{
        var userInfo = ViewBag.userInfo;
        string userBase64Image = Convert.ToBase64String(userInfo[0].UserPhoto);
    }
    <!-- 導覽列設計 -->
    <!-- 活動頁面設計 -->
    <div class="mycontainer">
        <div class="reg-and-like-btn row">
            <div class="col-auto">
                <!-- 報名按鈕 -->
                @{
                    if (ViewBag.signOrNot == false)
                    {
                        <form asp-action="register" method="post">
                            <input type="hidden" name="groupId" value="@Model[0].GroupID" />
                            <input type="hidden" name="userId" value=@userInfo[0].UserID />
                            <button type="submit" class="register-btn">
                                <p class="register-btn-text-style" href="#" id="registerLink">
                                    我要報名!
                                </p>
                            </button>
                        </form>
                    }
                    else
                    {
                            <button  class="alreadyRegister-btn">
                            <p class="alreadyRegister-btn-text-style" href="#" id="registerLink">
                                    已報名!
                                </p>
                            </button>
                        
                    }
                }
                
            </div>
            @*<div class="col-auto">
            <!-- 點擊收藏 -->
            <div class="heart-inner">
            <div class="heart-icon">
            <i class="fa-regular fa-heart fa-2xl"></i>
            </div>
            <div class="hit-style">
            <i class="fa-solid fa-angle-up fa-lg"> 點擊收藏，不錯過活動通知 !</i>
            </div>
            </div>
            </div>*@
        </div>
    </div>






    <!-- 輪播圖片 -->
    <div class="mycontainer">
        <div class="carouselDiv">
            <div class="carousel-container position-relative  col-lg-8" id="pictureDiv">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @{
                            var photoList = Model[0].PersonalPhoto.ToList();
                            string photoBase64Image0 = Convert.ToBase64String(photoList[0].PhotoData);
                            string photoBase64Image1 = Convert.ToBase64String(photoList[1].PhotoData);
                            string photoBase64Image2 = Convert.ToBase64String(photoList[2].PhotoData);
                            string photoBase64Image3 = Convert.ToBase64String(photoList[3].PhotoData);
                        }
                        <div class="carousel-item active" data-slide-number="0">
                            <img src="data:image/png;base64,@photoBase64Image0" class="d-block w-100" alt="..." data-type="image"
                                 data-toggle="lightbox" data-gallery="example-gallery">
                        </div>
                        <div class="carousel-item" data-slide-number="1">
                            <img src="data:image/png;base64,@photoBase64Image1" class="d-block w-100" alt="..." data-type="image"
                                 data-toggle="lightbox" data-gallery="example-gallery">
                        </div>
                        <div class="carousel-item" data-slide-number="2">
                            <img src="data:image/png;base64,@photoBase64Image2" class="d-block w-100" alt="..." data-type="image"
                                 data-toggle="lightbox" data-gallery="example-gallery">
                        </div>
                        <div class="carousel-item" data-slide-number="3">
                            <img src="data:image/png;base64,@photoBase64Image3" class="d-block w-100" alt="..." data-type="image"
                                 data-toggle="lightbox" data-gallery="example-gallery">
                        </div>
                    </div>
                </div>

                <!-- Carousel Navigation -->
                <div id="carousel-thumbs" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row mx-0">
                                <div id="carousel-selector-0" class="thumb col-sm-1 col-lg-3 px-1 py-2 selected"
                                     data-target="#myCarousel" data-slide-to="0">
                                    <img src="data:image/png;base64,@photoBase64Image0" class="img-fluid" alt="...">
                                </div>
                                <div id="carousel-selector-1" class="thumb col-sm-1 col-lg-3 px-1 py-2" data-target="#myCarousel"
                                     data-slide-to="1">
                                    <img src="data:image/png;base64,@photoBase64Image1" class="img-fluid" alt="...">
                                </div>
                                <div id="carousel-selector-2" class="thumb col-sm-1 col-lg-3 px-1 py-2" data-target="#myCarousel"
                                     data-slide-to="2">
                                    <img src="data:image/png;base64,@photoBase64Image2" class="img-fluid" alt="...">
                                </div>
                                <div id="carousel-selector-3" class="thumb col-sm-1 col-lg-3 px-1 py-2" data-target="#myCarousel"
                                     data-slide-to="3">
                                    <img src="data:image/png;base64,@photoBase64Image3" class="img-fluid" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- 活動內容 -->
    <div class="container" style="margin-top: 2%; margin-bottom: 2%;">
        <div class="row" style="gap: 50px; display: flex; justify-content: center;">
            <div class="col-7 activity_about">
                <h1>活動介紹</h1>
                <h3>@Model[0].GroupContent </h3>


            </div>

            <div class="col-5 activity_info">
                <h1>活動資訊</h1>
                <table>
                    <tr>
                        <td>成團人數下限：</td>
                        <td>@Model[0].MinAttendee</td>
                    </tr>
                    <tr>
                        <td>成團人數上限：</td>
                        <td>@Model[0].MaxAttendee</td>
                    </tr>
                    <tr>
                        <td>出發日：</td>
                        <td>@Model[0].StartDate?.ToString("yyyy-MM-dd")</td>
                    </tr>
                    <tr>
                        <td>結束日：</td>
                        <td>@Model[0].EndDate?.ToString("yyyy-MM-dd")</td>
                    </tr>
                    <tr>
                        <td>建議自備：</td>
                        <td>無</td>
                    </tr>

                    <tr>
                        <td>主揪</td>
                        <td>@Model[0].Organizer</td>
                    </tr>

                    <tr>
                        <td>主揪</td>
                        <!-- 注意這裡添加了一個class和一個data-attribute來儲存organizer的ID -->
                        <td class="organizer-info" data-organizer-id="@Model[0].Organizer">@Model[0].Organizer</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 主揪Modal結構 -->
    <div class="modal fade" id="organizerModal" tabindex="-1" aria-labelledby="organizerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="organizerNickname">暱稱</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="organizerImage" src="" alt="大頭貼" />
                    <p id="organizerIntro">自我介紹</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".organizer-info").click(function () {
                var organizerId = $(this).data('organizer-id');

                $.ajax({
                    url: '/Member/GetOrganizerInfo',  // 請更換成你的Controller和Action名稱
                    method: 'GET',
                    data: { userId: organizerId },
                    success: function (response) {
                        // 顯示彈出窗，並在裡面填充主揪的資訊
                        $('#organizerNickname').text(response.Nickname);
                        $('#organizerIntro').text(response.Intro);
                        $('#organizerImage').attr('src', response.imageUrl);
                        $('#organizerModal').modal('show');
                    }
                });
            });
        });
    </script>

    <!-- 懸浮聊天室按鈕 -->


    <a href="#" class="float btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-comment fa-2xl"></i>
    </a>
    <div class="label-container">
        <div class="label-text">
            點選開啟活動聊天室
        </div>
        <i class="fa fa-play label-arrow "></i>
    </div>

    <!-- 彈出Modal -->

    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" id="dialogDiv">
                <div>
                    <div id="messageBoardTitle">
                        <p class="h1">討論區</p>
                        <div id="discussBtn">建立討論</div>
                    </div>

                    <!-- 討論輸入區 -->
                    
                    <div class="commentDiv" id="discussInput">
                        <form asp-action="commentCreate" method="post">
                            <input type="hidden" name="id" value="@Model[0].GroupID" />
                            <input type="hidden" name="UserID" value=@userInfo[0].UserID />
                            <div class="userCommentDiv">
                                <img class="profile" src="data:image/png;base64,@userBase64Image" />
                                <div class="userCommentDivRight">
                                    <p class="h3 align-self-center">@userInfo[0].Nickname</p>
                                    <div class="discuss-box align-self-start" name="ChatContent">
                                        <textarea name="ChatContent" id="discussTextArea" class="col-auto" rows="3" placeholder="討論串輸入框"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="commentBtnDiv">
                                <button class="publishBtn" type="submit">
                                    <p class="h3">發表</p>
                                    <i class="fa-solid fa-comment fa-2xl align-self-center"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- 討論區 -->
                @{
                    var chatList = Model[0].Chat.ToList();
                    int commentId = 0;
                }
                @if (chatList != null && chatList.Any())
                {
                    foreach (var chat in chatList)
                    {
                        
                        commentId++;
                        var chatID = chat.ChatID;
                        var toWhom = chat.ToWhom;
                        var ChatContent = chat.ChatContent;
                        var memberList = chat.User;
                        string base64Image = Convert.ToBase64String(memberList.UserPhoto);

                        if (toWhom == null)
                        {
                            <div class="commentDiv">
                                <div class="userCommentDiv">
                                    <img class="profile" src="data:image/png;base64,@base64Image" />
                                    <div class="userCommentDivRight">
                                        <p class="h3 align-self-center">@memberList.Nickname</p>
                                        <div class="comment-box align-self-start">@ChatContent commentId: @commentId</div>
                                        <p class="commentDatetime"></p>
                                    </div>
                                </div>
                                <div class="commentBtnDiv">
                                    <div class="replyBtn" id="replyBtn">
                                        <p class="h3">回覆</p>
                                        <i class="fa-solid fa-comment fa-2xl align-self-center"></i>
                                    </div>
                                </div>
                                @foreach (var reply in chatList)
                                {
                                    int? replyToWhom = reply.ToWhom;
                                    string? replyChatContent = reply.ChatContent;
                                    if (replyToWhom == chatID)
                                    {
                                        <div class="replyDiv">
                                            <div class="userCommentDiv">
                                                <img class="profile" src="data:image/png;base64,@base64Image" />
                                                <div class="userCommentDivRight">
                                                    <p class="h3 align-self-center">@memberList.Nickname</p>
                                                    <div class="comment-box align-self-start">@replyChatContent</div>
                                                    <p class="commentDatetime">20231010</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="replyTextDiv">
                                    <form asp-action="ReplyCreate" method="post">
                                        <input type="hidden" name="id" value="@Model[0].GroupID" />
                                        <input type="hidden" name="ToWhom" value="@chat.ChatID" />
                                        <input type="hidden" name="UserID" value=@userInfo[0].UserID />
                                        <div class="userCommentDiv">
                                            <img class="profile" src="data:image/png;base64,@userBase64Image" />
                                            <div class="userCommentDivRight">
                                                <p class="h3 align-self-center">@userInfo[0].Nickname</p>
                                                <textarea name="ChatContent" id="replyTextArea" class="col-auto" rows="1"></textarea>
                                                <button class="messageBtn" type="submit">
                                                    <p class="messageBtn-text-style" href="#">
                                                        留言
                                                    </p>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                }

            </div>
        </div>
    </div>

</body>
<!-- JS連結 -->


<script src="~/js/ActivityPage.js"></script>


</html>
