@model MVC_Project.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinAttendee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinAttendee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAttendee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAttendee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizerNavigation.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalActivity.ActivityID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GroupID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
